.main{
    height: 100vh;
  
    .mask, .body{
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #afa18f;
      font-size: 64px;
      line-height: 66px;
      cursor: default;
      /* z-index: 100; */
      
      p{
        width: 1000px;
        padding:40px;
      }
      span{
        color: #ec4e39;
      }
    }
  
    .mask{
      mask-image: url('../../assets/images/mask.svg');
      mask-repeat: no-repeat;
      mask-size: 40px;
      background: #ec4e39;
      position: absolute;
      color: black;
    }
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
        /* background-color: black;
        color: aqua; */

    
    /* background-color: white; */
    cursor: pointer;

}


.body{
    display: flex;
    flex-direction: column;
}
  
.textContainer{
    position: relative;
      transform-style: preserve-3d;

    transition: transform 0.4s;
}
  
.textContainer p{
    font-size: 8vw;
    line-height: 8vw;
    font-weight: 700;
    margin: 0px;
    /* color: white; */
     transition: all 0.4s;


    
}
  
.textContainer .secondary{
    position: absolute;
    top: 0;
    /* color: black; */
    opacity: 0;
      transform: rotateX(-90deg) translateY(3.5vw);

    transform-origin: bottom center;
}

.textContainer:hover{ 

    transform: rotateX(90deg);

}



.textContainer:hover .primary{

    transform: translateY(-100%);

    opacity: 0;

}



.textContainer:hover .secondary{

    opacity: 1;

}

