.insideContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 350px;
    width: 400px;
    background-color: #FFF8E1;
    position: absolute;
    overflow: hidden;
    pointer-events: none;
}

.insideSlider{
    position: absolute;
    height: 100%;
    width: 100%;
    transition: top 0.5s cubic-bezier(0.76, 0, 0.24, 1);    
}

.inside{
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.inside img{
    height: auto;
}

.cursor, .cursorLabel {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: orange ;
    color: black;
    position: absolute;
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 400;
    pointer-events: none;
}

.cursorLabel {
    background-color: transparent;
}